
nav a:nth-child(2) {
    background-color: #fff;
    color: #333;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: all 0.3s ease;
  }
  
  nav a:nth-child(2):hover {
    background-color: #333;
    color: #fff;
    
  }
  